@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Essa é a galeria de livros</h1>
    <p>Não esqueça de atualizar o status de leitura e de adicionar o resumo pós leitura. Clique em  <a href="#">Status Leitura</a>.</p>
</div>
